<html>
<head>
    <title>1740082038 Veritabanı Ödevi 3</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container-fluid">

    <div class="row">

        <div class="col-md-12">
            <h1>Necmettin Erbakan Üniversitesi, 2.sınıf ,Yönetim bilişim Sistemleri bölümünü okuyan öğrencilerin adları ve tcleri nelerdir ?</h1>


            <table class="table">
                <tr>
                    <th>Öğrenci TC Numarası</th>
                    <th>Öğrenci Adı</th>

                </tr>
                {% for satir in data %}
                    <tr>
                        <td>{{ satir[0] }}</td>
                        <td>{{ satir[1] }}</td>

                    </tr>
                {% endfor %}
            </table>

        </div>
        <h1><a href="#" onclick="history.go(-1)">Geri Dön</a></h1>

    </div>
</div>
</body>
</html>