<html>
<head>
    <title>Show All Data</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container-fluid">

    <div class="row">

        <div class="col-md-12">
            <h1>Equipped Items</h1>

            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Equipment_Class</th>
                    <th>Item_No</th>
                </tr>
                {% for ui_row in data %}
                    <tr>
                        <td>{{ ui_row[0] }}</td>
                        <td>{{ ui_row[1] }}</td>
                        <td>{{ ui_row[2] }}</td>
                        <td>{{ ui_row[3] }}</td>
                    </tr>
                {% endfor %}
            </table>

        </div>
        <h1><a href="#" onclick="history.go(-1)">Go Back!!!</a></h1>

    </div>
</div>
</body>
</html>